/* poppins-300 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/poppins-v24-latin-300.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poppins-v24-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/*base*/

body{
font-style: poppins;
font-family: poppins, sans-serif;
}

:root{
    --color-brand:#819B57;
    --color-white: #FAF4EA;
    --color-black:#31261A;
    --color-darkgreen:#465929;
}

ul {
    list-style-type: none;
}

/*button*/

.button{
color: var(--color-white)A;
background-color: var(--color-brand);
border:2px solid var(--color-brand);
border-radius: 8px;
cursor: pointer;
}

.button:hover{
color: var(--color-darkgreen);
background-color: transparent;
}

/*links*/

.link{
    color: var(--color-white)A;
}

.link:hover{
    color: var(--color-brand);
}

/*hero-section*/

.hero-title{
    color: var(--color-white)A;
}

.hero-title .accent{
    color: var(--color-brand);
}

/*advantages-section*/

.advantages-list{
    background-color: var(--color-brand);
    color: var(--color-white)A;
}

.sectio-title{
    color:var(--color-darkgreen);
}
body{
    color: var(--color-black);
}